.timeBoardWrap {
    height: 100%;
    margin-top: 30px;
}

.timeBoard {
    display: flex;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 200px;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid white;
}

.secondHand {
    display: inline-block;
    height: 99px;
    width: 1px;
    background-color: white;

    /*transition: transform 0.1s cubic-bezier(0.4, 2.3, 0.6, 1.0);*/
    transform-origin: bottom center;
}

.minuteHand {
    display: inline-block;
    position: relative;
    top: 14px;
    height: 85px;
    width: 3px;
    background-color: aqua;
    transform-origin: bottom center;
}

.hourHand{
    display: inline-block;
    position: relative;
    top: 29px;
    height: 70px;
    width: 4px;
    background-color: blueviolet;
    transform-origin: bottom center;
}

.redBox {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    transition: background-color 2s ease;
}

.redBox:hover {
    background-color: red;

}