.timeBoardWrap {
    height: 100%;
    margin-top: 30px;
}

.timeBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 200px;
    margin: 0 auto;
}

.box {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid white;

}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.secondHand {
    display: inline-block;
    height: 99px;
    width: 1px;
    background-color: white;
    /*transition: animation 100ms ease;*/
    /*transform: rotate(45deg);*/
    animation: rotate360 60s linear;
    transform-origin: bottom center;
}

.minuteHand {
    position: absolute;
    display: inline-block;
    height: 99px;
    width: 3px;
    background-color: aqua;
    /*transition: animation 100ms ease;*/
    /*transform: rotate(45deg);*/
    /*animation: rotate360 60s linear;*/
    transform-origin: bottom center;
}

.hourHand{
    position: absolute;
    display: inline-block;
    height: 99px;
    width: 4px;
    background-color: blueviolet;
    /*transition: animation 100ms ease;*/
    /*transform: rotate(45deg);*/
    /*animation: rotate360 60s linear;*/
    transform-origin: bottom center;
}

.redBox {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    transition: background-color 2s ease;
}

.redBox:hover {
    background-color: red;

}
